html {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

p, h3{
    margin: 1rem 0;
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  #sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  #sidebar a:hover {
    color: #f1f1f1;
  }
  
  #sidebar .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    text-decoration: none;
  }
  
  .openBtn {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
  }
  
  .openBtn:hover {
    background-color: #444;
  }
  
  #mountain-bg {
    transition: margin-left .5s;
    padding: 16px;
  }

#mountain-bg{
    padding: 2rem 0 5rem 0;
    margin-bottom: 4rem;
    background-image: url("https://cdn.sanity.io/images/24oxpx4s/prod/08ae6020f64bae8c76238c5afdb0047e50d9416b-6016x4016.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#mountain-bg h1{
    font-size: 4em;
    margin: 3rem 0 2rem 0;
    color: white;
    -webkit-text-stroke: 0.5px gray;
}

#up-button {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightskyblue;
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    padding-top: 1%;

}


#up-button input{
    max-height: 90%;
    max-width: 90%;
    
}

#up-button:hover {
    background-color: gray;
}

#mountain-name{
    text-align: center;
    margin: 0;
}

#make-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    padding: 0.5rem;
    height: 3.5rem;
    box-sizing: border-box;
}

/*responsive layout*/
@media (max-width: 300px) {
    #make-search {
        flex-direction: column;
        align-items: center;
    }
}


#search-bar {
    margin: 0 0.5rem;
    height: 100%;
}


#search-bar {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 2rem;
    padding: 0;
    width: fit-content;
}

#research-input{
    border: none;
    margin: 0;
    border-radius: 2rem 0 0 2rem;
    background-color: white;
    width: fit-content;
}

#research-input{
    padding: 0.2rem 0.4rem;
    
}

#research-input:focus {
    outline: none;
}

#search-button{
    border: none;
    border-left: 1px solid lightgray;
    border-radius: 0 1rem 1rem 0;
    margin: 0;
    padding: 0.3rem 0.8rem;
    background-color: lightgray;
    width: fit-content;
    height: 100%;
}

#search-button input {
    height: 1rem;
    vertical-align: middle;
}

.mountain {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 2rem 15rem;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    background-color: rgba(208, 253, 253, 0.8);
}

.mountain-image {
    border: 1px solid rgba(208, 253, 253,0.5);
    border-radius: 1rem;
    width: 30%;
    height: 10rem;
    display: flex;
    justify-content: center;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-mountain {
    width: 70%;
    padding: 0 1rem;
}

@media (max-width: 700px) {
    .mountain {
        flex-direction: column;
        max-width: 100%;
        margin: 2rem 4rem;
        padding: 1.5rem;
    }

    .mountain-image {
        width: 100%;
        box-sizing: border-box;
    }

    .info-mountain {
        width: 100%;
        box-sizing: border-box;
    }
}

.mountain-image input {
    width: 100%;
    height: fit-content;
    margin: auto;
}