/*file used to add or modify the style of the application*/

@tailwind base;
@tailwind components;
@tailwind utilities;

*, hmtl, body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



input {
  width: 100% !important;
  height: 40px !important;
  padding: 0 10px !important;
}
  

body{
  margin:0;
}



.topnav {
  overflow: hidden;
  
  background-color: rgba(240, 255, 255, 0.5);
  
}

.topnav a {
  
  float: left;
  color: #000;
  height: fit-content;
  text-align: center;
  vertical-align: middle;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-right {
  float: right;
  height: 100%;
}




